

.card-body{
    display: hidden;
}


.rotate{
    animation: rotate 2s linear infinite; /* adjust the duration and timing function as needed */

}
  

   @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

 